@import url('animations.css');
@import url('script.js');

/* General CSS */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial;
    /* opacity: 0;
    transition: opacity 1.5s; */
    align-content: center;
    z-index: 1;
    overflow-x: hidden;
}

/* CSS for navigation bar */
#navigationBar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15em; /* Whole navbar */
    height: 6%;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 99;
    background-image: transparent;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

/* Style to navbar when scrolled */
#navigationBar.scrolled {
    background-image: linear-gradient(to bottom right, #001b44, #1d70ec);
    opacity: 85%;
}

.pinoy-eats-logo {
    width: 165px;
    height: 35px;
    display: flex;
}

.navigation-list {
    display: flex;
    gap: 4em; /* Just the navbar options to the right */
    flex-direction: row;
    list-style: none;
    flex-wrap: inherit;
    font-size: 1rem;
    justify-content: center;
    font-weight: 700;
}

.navigation-list a {
    text-decoration: none;
    color: #F4FF5C;
}

/* Navbar style for phone version */
#hamburger-icon {
    display: none;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
}

#hamburger-icon div {
    display: none;
    background-color: #F4FF5C;
    width: 2.1em;
    height: 0.25em;
    margin: 6px 0;
    transition: 0.4s;
}

/* Styles the first line in hamburger menu */
.open .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .line2 {
    opacity: 0;
}

/* Style the third line in hamburger menu */
.open .line3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
} 

.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10em;
    padding-left: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    list-style-type: none;
    gap: 4em;
    background-color: #001b44;
}

.mobile-menu li a {
    text-decoration: none;
    color: #F4FF5C;
    font-size: 1.3em;
    font-weight: bold;
}

/* CSS for home */
.home-bg-color {
    background-image: linear-gradient(to bottom right, #001b44, #1d70ec);
    width: 100%;
    height: 100%;
}

.home-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 6%;
    padding-bottom: 5%;
}

.home-section .home-first-image {
    width: 92%;
    border-radius: 1em;
}

.home-section .home-second-image {
    width: 100%;
    border-radius: 1em;
}

.home-section h1 {
    font-size: 4.5rem;
    width: 80%;
    color: #F4FF5C;
    font-weight: 800;
    margin: 0;
}

.home-section p {
    font-size: 1.3rem;
    width: 94%;
    color: #F4FF5C;
}

.home-section .home-right-side {
    width: 700px;
}

.home-section .home-left-side {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.home-section button {
    background-color: #E33535;
    color: white;
    border: none;
    box-sizing: content-box;
    padding: 0.9em 2em;
    border-radius: 2em;
    font-size: 1rem;
    cursor: pointer;
}

.home-section button:active {
    transform: scale(90%);
}

/* CSS for about section */
.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 3em;
    color: #0038A8;
}

.about-first-image {
    width: 50%;
}

.about-section h6 {
    font-weight: bold;
    font-size: 1rem;
    border: solid 1px #0038A8;
    box-sizing: content-box;
    padding: 0.7em 0.7em;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 0.7em;
}

.about-section h6:hover {
    color: white;
    background-color: #0038A8;
}

.about-section div h3 {
    font-size: 4rem;
    margin: 0;
}

.about-left-side {
    width: 760px;
}

.about-right-side {
    width: 760px;
}

.about-section .about-left-side img {
    width: 92%;
    height: 500px;
    object-fit: cover;
    border-radius: 1em;
}

.about-section .about-right-side img {
    width: 62%;
    object-fit: cover; 
    display: flex;
    margin-left: 30%;
}

.about-section p {
    font-size: 1.3rem;
    width: fit-content;
}

.about-section .about-left-side p {
    margin-bottom: 2rem;
}

/* CSS For Food Section */
.food-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 10em;
}

.food-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7em;
}

.food-section h6 {
    font-weight: bold;
    font-size: 1rem;
    border: solid 1px #A51E2D;
    color: #A51E2D;
    box-sizing: content-box;
    padding: 0.7em 0.7em;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 0.7em;
}

.food-section h6:hover {
    color: white;
    background-color: #A51E2D;
}

.food-section h3 {
    font-size: 4rem;
    color: #A51E2D;
    margin: 0 0 1em 0;
}

/* Adobo */
.adobo {
    background-color: #A51E2D;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 72%;
    align-items: center;
    color: white;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    border-radius: 2.5em;
    margin-bottom: 5%;
}

.adobo div {
    width: 70%;
    height: fit-content;
}

.adobo img {
    width: 32%;
    position: absolute;
    right: -7em;
    animation-name: spin; 
    animation-duration: 8000ms; /* How fast the animation will be */
    animation-iteration-count: infinite; /* Number of iteration the animation will perform */
    animation-timing-function: linear; /* Animation will not pause after each iteration */
}

.adobo h5 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1em;
}

.adobo p {
    font-size: 1.3rem;
}

.adobo button {
    background-color: #F4FF5C;
    border: none;
    box-sizing: content-box;
    padding: 1em 2.3em;
    border-radius: 3em;
    color: #0038A8;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.adobo button:active {
    transform: scale(90%);
}

.adobo button:hover {
    cursor: pointer;
}

.adobo a {
    text-decoration: none;
}

/* Sinigang */
.sinigang {
    background-color: #A51E2D;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 72%;
    align-items: center;
    color: white;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    border-radius: 2.5em;
    margin-bottom: 5%;
}

.sinigang div {
    width: 67%;
    height: fit-content;
    margin-left: 27%;
}

.sinigang img {
    width: 37%;
    position: absolute;
    left: -7em;
    animation-name: spin; 
    animation-duration: 8000ms; /* How fast the animation will be */
    animation-iteration-count: infinite; /* Number of iteration the animation will perform */
    animation-timing-function: linear; /* Animation will not pause after each iteration */
}

.sinigang h5 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1em;
}

.sinigang p {
    font-size: 1.3rem;
}

.sinigang button {
    background-color: #F4FF5C;
    border: none;
    box-sizing: content-box;
    padding: 1em 2em;
    border-radius: 3em;
    color: #0038A8;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.sinigang button:active {
    transform: scale(90%);
}

.sinigang button:hover {
    cursor: pointer;
}

.sinigang a {
    text-decoration: none;
}

/* Dinakdakan */
.dinakdakan {
    background-color: #A51E2D;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 72%;
    align-items: center;
    color: white;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    border-radius: 2.5em;
    margin-bottom: 5%;
}

.dinakdakan div {
    width: 65%;
    height: fit-content;
}

.dinakdakan img {
    width: 37%;
    position: absolute;
    right: -7em;
    animation-name: spin; 
    animation-duration: 8000ms; /* How fast the animation will be */
    animation-iteration-count: infinite; /* Number of iteration the animation will perform */
    animation-timing-function: linear; /* Animation will not pause after each iteration */
}

.dinakdakan h5 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1em;
}

.dinakdakan p {
    font-size: 1.3rem;
}

.dinakdakan button {
    background-color: #F4FF5C;
    border: none;
    box-sizing: content-box;
    padding: 1em 2em;
    border-radius: 3em;
    color: #0038A8;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.dinakdakan button:active {
    transform: scale(90%);
}

.dinakdakan button:hover {
    cursor: pointer;
}

.dinakdakan a {
    text-decoration: none;
}

/* Lechon */
.lechon {
    background-color: #A51E2D;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 72%;
    align-items: center;
    color: white;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    border-radius: 2.5em;
    margin-bottom: 5%;
}

.lechon div {
    width: 69%;
    height: fit-content;
    margin-left: 24%;
}

.lechon img {
    width: 50%;
    position: absolute;
    left: -16em;
    animation-name: spin; 
    animation-duration: 8000ms; /* How fast the animation will be */
    animation-iteration-count: infinite; /* Number of iteration the animation will perform */
    animation-timing-function: linear; /* Animation will not pause after each iteration */
}

.lechon h5 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1em;
}

.lechon p {
    font-size: 1.3rem;
}

.lechon button {
    background-color: #F4FF5C;
    border: none;
    box-sizing: content-box;
    padding: 1em 2em;
    border-radius: 3em;
    color: #0038A8;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.lechon button:active {
    transform: scale(90%);
}

.lechon button:hover {
    cursor: pointer;
}

.lechon a {
    text-decoration: none;
}

/* Sisig */
.sisig {
    background-color: #A51E2D;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 72%;
    align-items: center;
    color: white;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    border-radius: 2.5em;
    margin-bottom: 5%;
}

.sisig div {
    width: 65%;
    height: fit-content;
}

.sisig img {
    width: 40%;
    position: absolute;
    right: -7em;
    animation-name: spin; 
    animation-duration: 8000ms; /* How fast the animation will be */
    animation-iteration-count: infinite; /* Number of iteration the animation will perform */
    animation-timing-function: linear; /* Animation will not pause after each iteration */
}

.sisig h5 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1em;
}

.sisig p {
    font-size: 1.3rem;
}

.sisig button {
    background-color: #F4FF5C;
    border: none;
    box-sizing: content-box;
    padding: 1em 2em;
    border-radius: 3em;
    color: #0038A8;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.sisig button:active {
    transform: scale(90%);
}

.sisig button:hover {
    cursor: pointer;
}

.sisig a {
    text-decoration: none;
}

/* Laing */
.laing {
    background-color: #A51E2D;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 72%;
    align-items: center;
    color: white;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    border-radius: 2.5em;
}

.laing div {
    width: 67%;
    height: fit-content;
    margin-left: 27%;
}

.laing img {
    width: 35%;
    position: absolute;
    left: -7em;
    animation-name: spin; 
    animation-duration: 8000ms; /* How fast the animation will be */
    animation-iteration-count: infinite; /* Number of iteration the animation will perform */
    animation-timing-function: linear; /* Animation will not pause after each iteration */
}

.laing h5 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1em;
}

.laing p {
    font-size: 1.3rem;
}

.laing button {
    background-color: #F4FF5C;
    border: none;
    box-sizing: content-box;
    padding: 1em 2.3em;
    border-radius: 3em;
    color: #0038A8;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.laing button:active {
    transform: scale(90%);
}

.laing button:hover {
    cursor: pointer;
}

.laing a {
    text-decoration: none;
}

/* CSS for Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(to right, #0038A8, #A51E2D, #ccbd39);
    color: white;
}

footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 10em;
    margin-bottom: 3em;
}

footer h4 {
    font-size: 1.3em;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer .footer-links {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10em;
}

footer ul li {
    margin-bottom: 0.5em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer hr {
    width: 85%;
}

footer h5 {
    width: 85%;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    /* CSS for navigation bar */
    #navigationBar {
        gap: 7em; /* Whole navbar */
    }

    .pinoy-eats-logo {
        width: 155px;
        height: 25px;
    }

    .navigation-list {
        gap: 3em; /* Just the navbar options to the right */
    }

    /* CSS for home */
    .home-bg-color {
        width: 100%;
        height: 100%;
    }

    .home-section {
        margin-left: 5em;
        margin-right: 5em;
        padding-top: 8%;
        padding-bottom: 5%;
    }

    .home-section h1 {
        font-size: 3.5rem;
        width: 95%;
    }

    .home-section p {
        font-size: 1.1rem;
        width: 100%;
    }

    .home-section button {
        padding: 0.7em 1.2em;
        font-size: 1rem;
    }

    /* CSS for about */
    .about-first-image {
        width: 50%;
    }

    .about-section div h3 {
        font-size: 3rem;
    }

    .about-section h6 {
        font-size: 0.8rem;
    }

    .about-section .about-left-side img {
        width: 90%;
        height: 390px;
    }

    .about-section .about-right-side img {
        width: 67%;
        object-fit: cover; 
        display: flex;
        margin-left: 20%;
    }

    .about-section p {
        font-size: 1.1rem;
        width: fit-content;
    }

    .about-section .about-left-side p {
        margin-bottom: 2rem;
    }

    /* CSS For Food Section */
    .food-section {
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 1em;
        margin-bottom: 10em;
    }

    .food-section-container {
        gap: 2em;
    }

    .food-section h6 {
        font-weight: bold;
        font-size: 0.8rem;
    }

    .food-section h3 {
        font-size: 3rem;
    }

    /* Adobo */
    .adobo {
        width: 78%;
        padding-top: 2.2em;
        padding-left: 2.2em;
        padding-bottom: 2.2em;
        margin-left: -10em;
    }

    .adobo div {
        width: 72%;
        height: fit-content;
    }

    .adobo img {
        width: 43%;
        right: -10em;
    }

    .adobo h5 {
        font-size: 2.2rem;
        margin-bottom: 0em;
    }

    .adobo p {
        font-size: 1.1rem;
    }

    .adobo button {
        padding: 1em 2em;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    /* CSS for navigation bar */
    #navigationBar {
        gap: 1em; /* Whole navbar */
    }

    .pinoy-eats-logo {
        width: 155px;
        height: 25px;
    }

    .navigation-list {
        gap: 1.5em; /* Just the navbar options to the right */
    }

    /* CSS for home */
    .home-bg-color {
        width: 101%;
        height: 100%;
    }

    .home-section {
        margin-left: 5em;
        margin-right: 5em;
        padding-top: 8%;
        padding-bottom: 5%;
    }

    .home-section .home-left-side {
        gap: 1em;
    }


    .home-section .home-left-side h1 {
        font-size: 3rem;
        width: 90%;
    }

    .home-section p {
        font-size: 1.1rem;
        width: 100%;
    }

    .home-section button {
        padding: 0.7em 1.2em;
        font-size: 1rem;
    }

    /* CSS for about */
    .about-first-image {
        width: 50%;
    }

    .about-section h6 {
        font-size: 0.8rem;
    }

    .about-section .about-left-side img {
        width: 90%;
        height: 330px;
    }

    .about-section .about-right-side img {
        width: 75%;
        object-fit: cover; 
        display: flex;
        margin-left: 20%;
    }

    .about-section p {
        font-size: 1.1rem;
        width: fit-content;
    }

    .about-section .about-left-side p {
        margin-bottom: 1.5rem;
    }

    /* CSS For Food Section */
        /* Adobo */
    .adobo {
        width: 100%;
        padding-top: 2.2em;
        padding-left: 2.2em;
        padding-bottom: 2.2em;
        margin-left: 0em;

    }

    .adobo div {
        width: 60%;
        height: fit-content;
    }

    .adobo img {
        width: 35%;
        right: 1.5em;
    }

    .adobo h5 {
        font-size: 2.2rem;
        margin-bottom: 0em;
    }

    .adobo p {
        font-size: 1.1rem;
    }

    .adobo button {
        padding: 1em 2em;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /* CSS for navigation bar */
    #navigationBar {
        gap: 1em; /* Whole navbar */
    }

    .pinoy-eats-logo {
        width: 125px;
        height: 20px;
    }

    .navigation-list {
        gap: 1.7em; /* Just the navbar options to the right */
        font-size: 0.8rem;
    }

    /* CSS for home */
    .home-section {
        margin-left: 3.2em;
        margin-right: 3.2em;
        padding-top: 11%;
        padding-bottom: 5%;
    }

    .home-section .home-left-side {
        gap: 1em;
    }


    .home-section .home-left-side h1 {
        font-size: 2rem;
        width: 90%;
    }

    .home-section p {
        font-size: 0.9rem;
        width: 100%;
    }

    .home-section button {
        padding: 0.7em 1.2em;
        font-size: 0.8rem;
    }

    /* CSS for about */
    .about-first-image {
        width: 50%;
    }

    .about-section div h3 {
        font-size: 2.5rem;
        margin: 0;
    }

    .about-section h6 {
        font-size: 0.6rem;
    }

    .about-section .about-left-side img {
        width: 90%;
        height: 330px;
    }

    .about-section .about-right-side img {
        width: 95%;
        object-fit: cover; 
        display: flex;
        margin-left: 10%;
    }

    .about-section p {
        font-size: 1rem;
        width: fit-content;
    }

    .about-section .about-left-side p {
        margin-bottom: 1.5rem;
    }
}



/* NEEDS TO BE FIXED */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    /* CSS for navigation bar */
    /* Makes the whole hamburger menu appear in phone size */
    header nav {
        display: none;
    }

    #navigationBar {
        height: 2em;
        gap: 10em;
        margin: 0;
        padding-left: 0;
    }

    #navigationBar img {
        z-index: 100;
    }

    /* Makes the hamburger icon appear in phone size */
    #hamburger-icon {
        display: block;
    }

    /* Makes the lines of hamburger icon appear in phone size*/
    #hamburger-icon div {
        display: block;
    }

    .pinoy-eats-logo {
        width: 125px;
        height: 23px;
    }

    /* CSS for home */
    .home-bg-color {
        width: 100%;
        height: 100%;
    }

    .home-section {
        margin-left: 3em;
        margin-right: 3em;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .home-section h1 {
        font-size: 2.35rem;
        width: 100%;
    }

    .home-section p {
        font-size: 0.8rem;
        width: 100%;
    }

    .home-section button {
        padding: 0.7em 1.2em;
        font-size: 0.7rem;
    }
}